@keyframes animation2 {
    10% {
        background-color: red;
        color: blue;
        width: 100px;
        margin-left: 20px;
        margin-top: 50px;
    }
    25% {
        background-color: yellow;
        color: blue;
        width: 100px;
        margin-right: 200px;
        margin-top: 200px;
    }
    50% {
        background-color: rgb(117, 37, 97);
        color: blue;
        width: 100px;
        margin-right: 500px;
    }
    70% {
        background-color: rgb(198, 120, 64);
        color: rgb(243, 47, 116);
        width: 100px;
    }
    100% {
        background-color: cyan;
        color: blue;
        width: 80px;
        margin-left: 20px;
    }
}

div.one {
    color: white;
    font-size: 30px;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 2px 4px 5px blue;
    text-shadow: 2px 4px 5px red;
    text-align: center;
}

#mydiv {
    width: 60px;
    height: 50px;
    /* border: 2px solid red; */
    border-radius: 10px;
    /* background-color: white; */
    /* float: right; */
    /* align-content: center; */
    /* float: left; */
    /* margin: 50px 40px 20px 10px; */
    /* padding: 50px;    */
    /* word-wrap: break-word; */
    margin-left: 20px;
    animation-name: animation2;
    animation-duration: 5s;
    animation-iteration-count: 1;
}